# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary Folders
*.vs
x64
*.user
Code/GLSP/Run/Results*
Code/GLSP/VS2022/*.csv
Code/GLSP/VS2022/*.txt

# Optimization files
*.log
*.lp
*.mps
*.prm
*.pre
/Code/GLSP/VS2022/GLSP.sol
/Code/GLSP/VS2022/conflict.clp
/Code/GLSP/Dual.xlsx
*.sol
/Code/GLSP/Run/__pycache__
